name: Master

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:
    branches: [master]

jobs:
  cancel-previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

  build-web:
    uses: ./.github/workflows/build-web.yml

  build-cross:
    needs: build-web
    uses: ./.github/workflows/build-cross.yml

  build-other:
    needs:
      - build-web
    uses: ./.github/workflows/build-other.yml

  dev-release:
    runs-on: ubuntu-latest
    needs:
      - build-web
      - build-other
      - build-cross
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix cargo config
        run: sed -e "s/.*replace-with.*//g" -i .cargo/config.toml

      - name: Download all
        uses: actions/download-artifact@v4
        with:
          path: downloads

      - name: Scripts
        run: |
          rm scripts/install.sh || true
          rm scripts/update-version.sh || true
          tar -czvf scripts.tar.gz scripts

      # Development Release, push master branch
      - uses: 'marvinpinto/action-automatic-releases@latest'
        if: github.event_name == 'push' && github.ref_name == 'master'
        with:
          repo_token: '${{ secrets.ACTION_TOKEN }}'
          automatic_release_tag: 'latest'
          title: 'Development Build'
          prerelease: true
          draft: false
          files: |
            downloads/**/*.tar.gz
            downloads/**/*.deb
            downloads/**/*.rpm
            scripts.tar.gz

      # Draft Release, push tag v*
      - uses: 'marvinpinto/action-automatic-releases@latest'
        if: github.event_name == 'push' && startsWith(github.ref_name, 'v')
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: false
          draft: true
          files: |
            downloads/**/*.tar.gz
            downloads/**/*.deb
            downloads/**/*.rpm
            scripts.tar.gz
